.chat-component {
  height: 100vh;
}

.user-list {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-window {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.chat-header {
  background-color: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

/* .chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #e9ecef;

  
} */
.chat-bubble {
  display: flex;
  align-items: center;
  max-width: 70%;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 14px;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.image-with-icon {
  position: relative;
}

.online-icon {
  position: absolute;
  bottom: 5px;
  right: 3px;
  width: 11px;
  height: 11px;
  background-color: #33dc33;
  border-radius: 50%;
  border: 2px solid white;
}


.chat-bubble.sent {
  background-color: #dcf8c6; /* Light green */
  margin-left: auto;
  text-align: right;
}

.chat-bubble.received {
  background-color: #ffffff; /* White */
  margin-right: auto;
  text-align: left;
}

.chat-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-body {
  flex: 1;
  padding: 15px;
  background-color: #f8f9fa;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

ul.list-group {
  height: 500px;
  overflow-y: scroll;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

.list-group-item {
  background-color: transparent;
}

.chat-placeholder {
  margin-top: 20%;
  color: #666;
}
.chat-timestamp {
  font-size: 0.75rem;
  color: #888; /* Subtle grey */
  margin-top: 4px;
  text-align: right;
}


